@model BoutiqueProject.Models.Country


<div class="form-group">
    <label>Country Name</label>
    @Html.TextBoxFor(m => m.cntrynm, new { @class = "form-control" })

</div>


<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Save" />
    <input type="reset" class="btn btn-primary" value="Cancel" />
</div>


